<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>     
    </head>

    <!-- {{ content }} -->
    
    <body>
        <div class="h-screen relative flex justify-center">
            <div class="absolute top-1/2">
                <div class="face">
                    <img src="{{ image }}" >
                    <div class="iris iris-left">
                        <div></div>
                    </div>
                    <div class="iris iris-right">
                        <div></div>
                    </div>
                </div>

            </div>
            

        </div>
        
    </body>

    <script src="js/eyes.js"></script>

    
</html>