<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        
    </head>

    <!-- 
    {{ content }}
    <h1 class="text-2xl font-bold my-6">Borrring!</h1>
    {{ partial:blog/listing limit="5" }} 
        <h2 class="p-5">Recent Blog Posts</h2> 
    {{ /partial:blog/listing }} -->
    <body>
        <div class="h-screen relative flex justify-center">
            <div class="absolute top-1/2">
                <div class="face">
                    <img src="/assets/face-without-eyes.svg">
                    <div class="iris iris-left">
                        <div></div>
                    </div>
                    <div class="iris iris-right">
                        <div></div>
                    </div>
                </div>

            </div>
            

        </div>
        
    </body>

    <script src="js/eyes.js"></script>

    
</html>